<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/CSS/home.css">
    <style>
       
    </style>
  
</head>
<body>
    <h1>Welcome to Mental Health Prediction</h1>
    <h5>Mental health is crucial as it directly impacts our overall well-being, influencing how we think, feel, and act. It affects our ability to cope with stress, relate to others, and make decisions. Regular checks ensure early detection of issues, facilitating timely interventions and promoting a healthier, more fulfilling life.</h5>
    <form action="/pred" method="get">
        <input type="submit" value="Proceed">
    </form>
</body>
</html>
