<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/CSS/output.css'>
    <title>Prediction Result</title>
</head>
<body>
    <form action="/out" method="post">
        <h1>Prediction Result</h1>
        <p>{{ y }}</p>
        <div>
        <a href="/">
            <button>Home</button>
        </a>
        <a href="/pred">
            <button>Predict</button>
        </a>
    </div>
    </form>
</body>
</html>
